<!DOCTYPE html>
<html>
<head>
    <title>ISSP Submission List</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<style>
td.details-control {
    background: url('./details_open.png') no-repeat center center;
    cursor: pointer;
    width: 20px;
}
tr.shown td.details-control {
    background: url('./details_close.png') no-repeat center center;
    width: 20px;
}
</style>
<body>
    <%- include('./partials/dashboard_nav.ejs') %>
    <div>
    <table id="example" class="table table-striped table-bordered" style="width: 100%" data-page-length='10'>
        <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Date Created</th>
                <th>Company name</th>
                <th>Project description</th>
                <th>Current Arrangement</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
</body>
<script>
    var submissions_data = <%- JSON.stringify(submissionData) %>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });

    function format ( d ) {
        var pre = ''
        if (d.prefix != null){
            pre = d.prefix
        }
        return 'Contact: '+ pre + ' ' + d.first + ' '+ d.last +'<br>'+
            'Contact Phone: '+d.phone+'<br>'+
            'The child row can contain any data you wish, including links, images, inner tables etc.';
    }

    $(document).ready(function() {
        var dt = $('#example').DataTable( {
            "processing": true,
            "data": submissions_data,
            "columns": [
                {
                    "class":          "details-control",
                    "orderable":      false,
                    "data":           null,
                    "defaultContent": ""
                },
                { "data": "id" },
                { "data": "created_time" },
                { "data": "company_name" },
                { "data": "project_description" },
                { "data": "current_arrangement" },
                {"render": function ( data, type, row, meta ) {
                    return '<a href="/submission/edit?id='+row.id+ '" class="btn btn-outline-info">Edit</a>';
                }},
                {"render": function ( data, type, row, meta ) {
                    return '<form action="/submission/feedback" method="POST" >' + 
                        '<input name="id" type="hidden" value="'+row.id+ '" />' +
                        '<input name="username" type="hidden" value="'+"<%- username %>" +'" />' +
                        '<button class="btn btn-outline-success" type="submit">Feedback</button>' +
                    '</form>';
                }},
                {"render": function ( data, type, row, meta ) {
                    return '<form class="del" action="/submission/delete" method="POST" >' + 
                        '<input name="id" type="hidden" value="'+row.id+ '" />' +
                        '<button class="btn btn-danger" type="submit">Delete</button>' +
                    '</form>';
                }},
                {"render": function ( data, type, row, meta ) {
                    return JSON.stringify(row)
                }},
            ],
            "columnDefs": [
            {
                "targets": [ 9 ],
                "visible": false,
                "searchable": true
            }],
            "order": [[1, 'asc']]
        } );
    
        // Array to track the ids of the details displayed rows
        var detailRows = [];
    
        $('#example tbody').on( 'click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = dt.row( tr );
            var idx = $.inArray( tr.attr('id'), detailRows );
    
            if ( row.child.isShown() ) {
                tr.removeClass( 'details' );
                row.child.hide();
                tr.removeClass('shown');
                // Remove from the 'open' array
                detailRows.splice( idx, 1 );
            }
            else {
                tr.addClass( 'details' );
                row.child( format( row.data() ) ).show();
                tr.addClass('shown');
                // Add to the 'open' array
                if ( idx === -1 ) {
                    detailRows.push( tr.attr('id') );
                }
            }
        } );

        // On each draw, loop over the `detailRows` array and show any child rows
        dt.on( 'draw', function () {
            $.each( detailRows, function ( i, id ) {
                $('#'+id+' td.details-control').trigger( 'click' );
            } );
        } );

        $('#example tbody').on('submit', 'tr td form.del', function () {
            return confirm('Are you sure you want to delete?')
        } );
        
    } );
</script>

</html>