td.details-control {
    background: url('/details_open.png') center center;
    background-repeat: no-repeat;
    background-size: auto;
    cursor: pointer;
    width: 30px;
    height: auto;
}
tr.shown td.details-control {
    background: url('/details_close.png') center center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 30px;
    height: auto;
}